version: "3.8"

services:
  wordpress:
    image: wordpress
    restart: always
    ports:
      - 40002:80
    environment:
      WORDPRESS_DB_HOST: db
      WORDPRESS_DB_USER: wp
      WORDPRESS_DB_PASSWORD: wp
      WORDPRESS_DB_NAME: wp
    volumes:
      - ./.wordpress:/var/www/html
      - ../:/var/www/html/wp-content/plugins/vercelHook
    networks:
      - backend

  db:
    image: mariadb
    restart: always
    ports:
      - 3306
    environment:
      MYSQL_DATABASE: wp
      MYSQL_USER: wp
      MYSQL_PASSWORD: wp
      MYSQL_RANDOM_ROOT_PASSWORD: "1"
    volumes:
      - maria:/var/lib/mysql
    networks:
      - backend
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    restart: always
    links:
      - db
    ports:
      - 40003:80
    networks:
      - backend

networks:
  backend:
    driver: bridge
volumes:
  maria:
